@model Slider

@{
    ViewData["Title"] = "Slide Ekle";
}

<h1>Slide Ekle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Baslık" class="control-label"></label>
                <input asp-for="Baslık" class="form-control" />
                <span asp-validation-for="Baslık" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acıklama" class="control-label"></label>
                <input asp-for="Acıklama" class="form-control" />
                <span asp-validation-for="Acıklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" type="file"/>
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

